doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Show Data 
    body 

       


        table(style='width:100%', border='1')
            tr
                th doctor
                th date
                th time
                th name 
                th email 
                th phone 
                th message
                th Bookdate
            
            
            for person in personList 
                td=person.doctor
                td=person.date                      
                td=person.time                    
                td=person.name                     
                td=person.email                  
                td=person.phone
                td=person.message
                td=person.bookdate
                
                

                



